body {
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 1080px;
    color: white;
    overflow: hidden;
    font-family: 'Pt Sans Narrow';
    text-align: center;
}

#camera,
#sponsor,
#gameplay,
#gameplayLeft,
#gameplayRight,
#runInfo {
    outline: 1px solid var(--border-color);
}

#camera {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    font-size: 20px;
    gap: 5px;
}

.leftBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 10px;
}

#gameTitle {
    font-family: 'Fugaz One';
    text-transform: uppercase;
    text-shadow: 3px 3px black;
    display: inline-block;
    line-height: 1.2;
}

.timerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    text-shadow: 3px 3px black;
    font-weight: bold;
}

.tag {
    background-color: var(--border-color);
    border-radius: 10px;
    padding: 5px 8px;
    box-shadow: 2px 2px black;

    font-family: 'Roboto Condensed';
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

.tag:has(span[id]:empty) {
    display: none;
}

.gameTagContainer {
    display: flex;
    gap: 10px;
    margin: 5px;
}

.producerContainer {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

img {
    object-fit: contain;
    max-width: 80%;
}

.twitchLogo::before {
    background-image: url(../img/Twitch_Logo.png);
    display: inline-flex;
    width: auto;
    margin: 0 10px 0 0;
    height: auto;
    content: "";
}

.twitchLogo {
    display: inline-flex;
    align-items: center;
}

.emptylogo {
    display: inline-flex;
    align-items: center;
}

#player {
    opacity: 1;
    transition: opacity 0.5s;
}

.hide {
    opacity: 0 !important;
}

.timer_finished {
    color: #6ec3e8;
}

.timer_stopped {
    color: #90a9b3;
}

.place_1 {
    color: gold;
}

.place_2 {
    color: #6ec3e8;
}

#textCarousel {
    opacity: 1;
    transition: opacity 0.5s;
}