/* =========================
   LAYOUT ROOT
   ========================= */

.layoutArea {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.lowerHalf {
    display: flex;
    width: 100%;
}


/* =========================
   HEADERS
   ========================= */

.bigHeader {
    margin-top: 100px;
    width: 50%;
    line-height: 1.2em;
    font-family: 'Fugaz One';
    font-size: 100px;
    text-transform: uppercase;
    text-shadow: 5px 5px black;
}

h2 {
    font-size: 30px;
    text-shadow: 2px 2px black;
    font-weight: 100;
    margin-bottom: 20px;
}


/* =========================
   GRID SECTIONS
   ========================= */

.scheduleContainer {
    grid-column: 1;
    grid-row: 2;
}

.incentiveContainer {
    grid-column: 2;
    grid-row: 2;
}

.scheduleContainer,
.incentiveContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    gap: 10px;

    width: 90%;
}

/* =========================
   RUN / GAME INFO
   ========================= */

.game-container,
.later-container {
    margin: 10px;
}

#upnextTitle,
#laterTitle,
#later2Title,
.gameName {
    font-family: 'PT Sans Narrow';
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

.tagContainer {
    display: flex;
    justify-content: center;
    gap: 10px;

    margin-top: 5px;

    font-size: 20px;
}


/* =========================
   INCENTIVES
   ========================= */

.incentives {
    width: 50%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

/* =========================
   PROGRESS BAR
   ========================= */

.progressContainer {
    position: relative;

    padding: 5px 8px;
    border-radius: 10px;

    font-family: 'Roboto Condensed';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

    background-color: var(--top-gradient);
    box-shadow: 2px 2px black;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
    margin: 5px;
}

.incentiveTextContainer {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: space-between;
}

.progressFill {
    position: absolute;
    inset: 0;

    width: 0%;
    height: 100%;
    border-radius: 10px;

    background-color: var(--border-color);

    z-index: 0;
    transition: width 0.4s ease-out;
}

.bidwarTitle {
    font-family: 'Pt Sans Narrow';
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.progressContainer {
    width: 100%;
    overflow: hidden;
}

/* =========================
   ANIMATIONS
   ========================= */

#incentiveRoot {
    opacity: 1;
    transition: opacity 0.4s ease;
}

#incentiveRoot.is-hidden {
    opacity: 0;
}

/* =========================
   BOTTOMBAR
   ========================= */

#bottomBar {
    grid-column: 1 / 3;
    grid-row: 3;
}