#camera {
    justify-content: center;
}

#camera div {
    flex-grow: 1;
}

#gameTitle {
    font-size: 38px;
}

.gameTagContainer {
    font-size: 22px;
}

.timerContainer {
    font-size: 80px;
}

.gameScreen {
    border-left: var(--border-width) var(--border-style) var(--border-color);
}