.leftBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

#gameTitle {
    font-size: 38px;
}

.gameTagContainer {
    font-size: 22px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    flex-shrink: 0;
}

.imgContainer img {
    max-width: 80%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    opacity: 1;
    transition: opacity 0.5s;
}


.timerContainer {
    font-size: 80px;
}