.runnerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: flex-end;
    font-size: 25px;
}

#commentatorContainer {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

#sponsor {
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    align-items: start;
    justify-items: center;
}

#runInfo {
    display: flex;
}

#gameTitle {
    font-size: 38px;
}

.gameTagContainer {
    font-size: 22px;
}

.gameContainer {
    flex-grow: 1;
}

.timerContainer {
    border-left: 2px solid var(--border-color);
    font-size: 80px;
    width: 482px;
}